body {
    color: #F9F9F9;
}

.col-xs-6, .col-sm-7 {
    color: #F9F9F9;
}

.jumbotron, .panel-body {
    background-color: #404042;
}

.container {
  background-color: #424242;
}

.search-results {
  background: #424242;
  box-shadow: 0 0 0.5px gray;
}
.glb-page {
  background-color: #424242;
  box-shadow: 0 0 50px black;
}

.btn-primary {
    background: #BF7516;
}
.btn-primary:hover {
    background: #E79A35;
}

.adminOptionsImage img {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.heading-box {
  border: 4px solid #eee;

  background: #424242; /* Old browsers */
/*  background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);  FF3.6-15 
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);  Chrome10-25,Safari5.1-6 
  background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );  IE6-9 */
}

hr.fancy {
  box-shadow: 0 0 3px 1px black;
}

.btn-fav {
   background-color: #E1E1E1;
}


.carousel-text {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  color: #424242;
  text-shadow: 1px 1px 2px #0060A5, 3px 3px 5px gray;
}

.small-carousel-text {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  color: #424242;
  text-shadow: 1px 1px 2px #0060A5, 3px 3px 5px gray;
}

.boxed {
  border:  2px solid white;
  box-shadow: 10px 10px 5px #888888;
}

.panel > .panel-heading {
  background-color: #78A0BD;;
  color: white;
}

.col-xs-12 {
  background-color: #fff;
}

#sidebar li {
  border:0 #f2f2f2 solid;
}


.developer_images {
  border:2px solid #00000f
}

.textArea_developer_images{
  border: 10px ridge gray;
}

p.fontHeader {
  color: black;
}

.aboutDiv {
    border:10px ridge gray;
}
