.g {
    /*padding: 0.25em;
    overflow: hidden;*/
}
.g a {
    /*float: left;
    width: 50%;
    padding: 0.25em;*/
    float: left;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
}
.g img {
    display: block;
}
.g li:nth-child(odd) {
    clear: left;
}

.center-table {
    margin: 0 auto !important;
    float: none !important;
}

@media screen and (min-width: 40em) {
    .g li {
        width: 33.3333333333333333%;
    }
    .g li:nth-child(3n+1) {
        clear: left;
    }
    .g li:nth-child(odd) {
        clear: none;
    }
}
@media screen and (min-width: 55em) {
    .g li {
        width: 25%;
    }
    .g li:nth-child(4n+1) {
        clear: left;
    }
    .g li:nth-child(3n+1) {
        clear: none;
    }
}
@media screen and (min-width: 72em) {
    .g li {
        width: 20%;
    }
    .g li:nth-child(5n+1) {
        clear: left;
    }
    .g li:nth-child(4n+1) {
        clear: none;
    }
}
@media screen and (min-width: 90em) {
    .g li {
        width: 16.666666666%;
    }
    .g li:nth-child(6n+1) {
        clear: left;
    }
    .g li:nth-child(5n+1) {
        clear: none;
    }
}
