html {
    height: 100%;
}

body {
 /*background-color: #417AA3;*/
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100 */
 background: #417AA3; /* Old browsers */
 background: -moz-linear-gradient(top,  #417AA3 0%, #1E394C 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  #417AA3 0%,#1E394C 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  #417AA3 0%,#1E394C 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417AA3', endColorstr='#1E394C',GradientType=0 ); /* IE6-9 */
 height: 100%;
 margin: 0;
 background-repeat: no-repeat;
 background-attachment: fixed;

}

.thumbnail {
	margin-bottom:7px;
}

.container {
  background-color: #F9F9F9;
}


.form {
  width: auto;
}

.panel-heading {
   padding: 6px 10px;
}

.search-results {
  background: #F9F9F9;
  box-shadow: 0 0 0.5px gray;
  /*padding-right: 50px;*/
}
.glb-page {
    background-color: #F9F9F9;
   box-shadow: 0 0 50px black;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
   .glb-page {
      width: 750px;
   }
}
@media (min-width: 992px) {
   .glb-page {
      width: 970px;
   }
}
@media (min-width: 1200px) {
   .glb-page {
      width: 1170px;
   }
}

.image-respionsive {
 padding: 15px;
}

.carousel {
 padding-top: 20px;
}

.adminOptionsImage img {
 background-color: blue;
 width: "100";
 height: "100";
}

.heading-box {
 /*line-height: 3;*/
 font-size: 24px;
 font-weight: bold;
 text-align: center;
 border: 4px solid #eee;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,d2ebf9+100;Blue+3D+%2312 */
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */

 background: #ffffff; /* Old browsers */
 background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

hr.fancy {
 border: 0;
 height: 0;
 box-shadow: 0 0 3px 1px black;
}
hr.style-five:after {
 content: "\00a0";
}
p.center {
 text-align: center;
 line-height: 2;
 font-size: 18px;
}

.carousel-text {
 position: absolute;
 right: 15%;
 bottom: 20px;
 left: 15%;
 z-index: 10;
 padding-bottom: 40px;
 text-align: center;
 text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
 color: #F9F9F9;
 text-shadow: 1px 1px 2px #0060A5, 3px 3px 5px gray;
}
.small-carousel-text {
 position: absolute;
 right: 15%;
 bottom: 20px;
 left: 15%;
 z-index: 10;
 padding-bottom: 16px;
 text-align: center;
 text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
 color: #F9F9F9;
 text-shadow: 1px 1px 2px #0060A5, 3px 3px 5px gray;
}

.boxed {
 text-align: center;
 border:  2px solid white;
 box-shadow: 10px 10px 5px #888888;
 width: 400px ;
 margin-left: auto ;
 margin-right: auto ;
}

.carousel-inner img {
 margin: auto;
}

.carousel-inner{
 width:100%;
}

.signUpBody {
	padding:50px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #78A0BD;;
    color: white;

}

.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

.developer_images {
   margin-left: 53px;
   margin-top: 5px;
   padding:1px;
   border:2px solid #00000f
}

.textArea_developer_images{
  width:900px;
  height:300px;
  position:relative;
  top: 32px;
  left: 5px;
  padding:10px;
  border:10px
  ridge gray;
}

p.fontHeader {
    font-style: oblique;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: #ffffff;
}

.bookDescription{
	padding-left: 10px;
}

.bookDescriptionPictures{
	padding-right: 40px;
	padding-top: 5px;
}
